@page
@model exchaRazor02.Pages.appliModel
@{
    ViewData["Title"] = "交換希望一覧";
}

<h1>ViewData["Title"]</h1>
<a href="/My" class="nrmLink">戻る</a>
<br />
<br />

@{
    if (Model.appli == null)
    {

    }
    else
    {

        <table class="table table-striped table-hover mytbl">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.appli[0].apid)</th>
                    <th>@Html.DisplayNameFor(model => model.appli[0].period)</th>
                    <th><!--リンク用--></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.appli)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.apid)</td>
                        <td>@Html.DisplayFor(modelItem => item.period) h</td>
                        <td><a href="~/Leaves/Index?id=@item.apid" class="nrmLink">開く</a></td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
