@page
@using exchaRazor02.Data;
@model exchaRazor02.Pages.CreateModel

<h1>日記を作る</h1>

<span class="text-danger">@Model.message</span>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- 日記ID -->
            <div class="form-group">
                <label asp-for="Diary.Id" class="control-label"></label>
                <input asp-for="Diary.Id" onchange="checkDuplicateKey(this)" class="form-control" placeholder="日記にIDを付けてください" />
                <span asp-validation-for="Diary.Id" class="text-danger"></span>
                <span id="id_alarm" class="text-black-50"></span>
            </div>
            <!-- パスワード1 -->
            <div class="form-group">
                <label asp-for="Diary.pass" class="control-label"></label>
                <input asp-for="Diary.pass" type="password" onchange="confirmPass2()" autocomplete="new-password" class="form-control" placeholder="日記に鍵をかけてください" />
                <span asp-validation-for="Diary.pass" class="text-danger"></span>
            </div>
            <!-- パスワード2 -->
            <div class="form-group">
                <label for="Diary_pass2" class="control-label">鍵の確認</label>
                <input id="Diary_pass2" type="password" required onchange="confirmPass2()" autocomplete="new-password" class="form-control" placeholder="鍵をもう一度入力してください" />
                <span id="pass2_alarm" class="text-danger"></span>
            </div>
            <!-- ノート -->
            <div class="form-group">
                <label asp-for="Diary.note" class="control-label"></label>
                <textarea asp-for="Diary.note" class="form-control" placeholder="日記の紹介などご自由にどうぞ" rows="2"></textarea>
                <span asp-validation-for="Diary.note" class="text-danger"></span>
            </div>
            <!-- 公開非公開 -->
            <div class="form-group">
                <input id="Diary_pub" type="radio" name="Diary.pub" value="@PUBLICITY.pub" checked>
                <label for="Diary_pub" style="color:black">公開　</label>
                <input id="Diary_pri" type="radio" name="Diary.pub" value="@PUBLICITY.pri">
                <label for="Diary_pri" style="color:black">非公開　</label>
            </div>
            <div class="form-group">
                <input type="submit" value="日記を作成" class="mybtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="/js/Create.js"></script>
