@page
@using System.Security.Claims;
@model exchaRazor02.Pages.IndexModel
@{
    ViewData["Title"] = "日記交換サイト";
}

<h1>ホーム</h1>

<p>サイト紹介</p>

<br />
<a asp-page="/Create" class="btnLink">日記を作る</a>
<br />
<br /><a asp-page="/My" class="btnLink">マイページへ</a>
<br />
<br /><a asp-page="/Diaries" class="btnLink">日記一覧へ</a>


<br />
<br /><a href="/Account/Login" class="nrmLink">ログイン</a>
@if (HttpContext.User.Identity.IsAuthenticated)
{
    @HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value
}
